# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
build
dist

# Cache
.turbo
.cache

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Env
.env
.env*.local

# Misc
coverage
.vercel
pnpm-lock.yaml
package-lock.json
yarn.lock
